<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  </head>
  <body>
    <header>
      <ul>
        <li class="title">lyst</li>
        <li><a href="/">Yesterday</a></li>
        <li><a href="/7days">7 days</a></li>
        <li><a href="/30days">30 days</a></li>
        <li><a href="/1year">1 year</a></li>
        <li><a href="/realtime">Real time</a></li>
        <li><a href="/custom">Custom query</a></li>
      </ul>
    </header>
    <h1 class="title"><%- title %></h1>
    <h2>Work in progress</h2>
    <input type="text"></input>
  </body>
  <script>
  </script>
</html>
