<!DOCTYPE html>
<html lang="en">
  <head>
    <title>lyst | Daily Bruin - <%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>
    <script src="/javascripts/<%- javascript %>"></script>
  </head>
  <body>
    <header>
      <ul>
        <li class="title">lyst</li>
        <li><a href="/">Yesterday</a></li>
        <li><a href="/7days">7 days</a></li>
        <li><a href="/30days">30 days</a></li>
        <li><a href="/1year">1 year</a></li>
        <li><a href="/realtime">Real time</a></li>
        <li><a href="/custom">Custom query</a></li>
      </ul>
    </header>
    <h1 class="title"><%- title %></h1>
    <span>(updated <%- update %>)</span>
    <div id="viz-container"></div>
    <div id="area1"></div>
    <div id="area2"></div>
  </body>
</html>
