<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  </head>
  <body>
    <header>
      <ul>
        <li class="title">lyst</li>
        <li><a href="/">24 hours</a></li>
        <li><a href="/7days">7 days</a></li>
        <li><a href="/30days">30 days</a></li>
        <li><a href="/1year">1 year</a></li>
        <li><a href="custom">Custom query</a></li>
      </ul>
    </header>
    <h1><%- title %></h1>
    <canvas id="myChart" width="400" height="400"></canvas>
  </body>
  <script>
    var ctx = document.getElementById("myChart").getContext("2d");
    var data = {
      labels: ["<%-result[0][0]%>", "<%-result[1][0]%>"],
      datasets: [
        {
            label: "result",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [<%-result[0][1]%>, <%-result[1][1]%>]
        }
      ]
    }
    var myBarChart = new Chart(ctx).Bar(data);
    console.log(test);
  </script>
</html>
