body {
  margin: 0;
  margin-left: 12.5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  position: fixed;
  left: 0.5rem;
  width: 10rem;
}

header ul {
  padding: 1rem;
  margin: 0;
  list-style-type: none;
}

header ul li {
  padding: 0.5rem;
}

header ul li.title {
  font-size: 2rem;
}

a {
  color: #43217A;
  text-decoration: none;
}

a:hover {
  color: #6207C4;
}

.title {
  display: inline-block;
  margin-right: 1rem;
}

#area1,
#area2 {
  display: inline-block;
  padding: 0.5rem;
  vertical-align:top;
}

#area1 {
  margin-right: 2rem;
}

#area1 table,
#area2 table {
  width: 100%;
}

#area1 td,
#area2 td {
  padding-bottom: 0.75rem;
  overflow: scroll;
}

#area2 td {
  max-width: 85px;
}

#area1 td.viewcount,
#area2 td.viewcount {
    align: right;
    text-align: right;
    padding-left: 1rem;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.point {
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges;
}

.axis.x path.domain,
.x .tick line {
  stroke:none;
}

.point-tip {
  line-height: 1;
  /*font-weight: bold;*/
  margin-top: -5px;
  padding: 0.3rem 0.75rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
}

.point-tip p{
  font-family: sans-serif;
  font-size: 0.75rem;
  margin: 0.25rem 0;
  letter-spacing: 0.02rem;
}

.point-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  margin: -1.5px 0 0 0;
  top: 100%;
  left: 0;
}
